@model IEnumerable<BookReviewSpring18.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Reviews</h1>
    
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.CategoryKey)</th>
        <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(model => item.CategoryKey)</td>
        <td>@Html.DisplayFor(model => item.CategoryName)</td>
    </tr>
    }

</table>